*{
    transition: 1s all;
}
body{
    background-color: #1d1d1d;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

div.title{
    flex-direction: row;
    line-height: 10px;
}
/* h1.title{
    flex-direction: row;
    line-height: 10px;
    text-align: le-ft;
} */
li{
    display: inline-block;
    margin: 20px;
}

header a{
    color: white;
}

a:hover{
    color: #00a8aa;
    transition: 0.3s all;
}
a.now:hover{
    color: #00a8aa;
    background: white;
    border-color: white;
    transition: 0.3s all;
}
.now{
    border: 3px solid #00a8aa;
    margin: 0 auto;
    padding: 2px;
    border-radius: 20px;
    background: #00a8aa;
}
#start{
    height: 700px;
}
@media (orientation= portrait){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    header ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .now{
        border: 1px solid #00a8aa;
        margin: 0 auto;
        padding: 2px;
        border-radius: 20px;
        background: none;
    }
}