body{
    background-color: #1d1d1d;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

div.title{
    flex-direction: row;
    line-height: 10px;
}
/* h1.title{
    flex-direction: row;
    line-height: 10px;
    text-align: le-ft;
} */
li{
    display: inline-block;
    margin: 20px;
}

header a{
    color: white;
}

a:hover{
    color: #00a8aa;
    transition: 0.3s all;
}

