
aside{
    margin: 100px auto;
}
h3{
    font-weight: 100;
    line-height: 1px;
    font-size: 25px;
    color: #00a8aa;
}
h2{
    font-family: poppinsbold;
    line-height: 1px;
    font-size: 60px;
}
