body, html {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    height: 100vh;
    width: 100vw;
}
main, aside {
    flex: 1;
    height: 100%;
}
aside {
    background-image: url('https://images.pexels.com/photos/11056039/pexels-photo-11056039.jpeg');
    background-size: cover; /* Faz com que a imagem cubra o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
} 
section{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 60vh;
    height: 90vh;

   /* background-color: yellow; */
}

h1{
    margin-bottom: 2vh;
    font-size: 5vh;
}
.or{
    margin-left: 44%;
}
.lorem{
    color: darkgray;
    margin-bottom: 5vh;
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.inp{
    display: flex;
    flex-direction: column;
}
input[type="text"]{
    height: 10vh;
    border: darkgray;
}
.buttons{
    /* height: 15vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.face,.twitter,.google{
    height: 8vh;
    margin-bottom: 1vh;
}
.face{
    background-color: #375596;
}
.twitter{
    background-color: #14a0f0;
}
.google{
    background-color: #e64136;
}
button{
    background-color: #0578fa;
    color: #fff;
    height: 8vh;
    border: none;
    border-radius: 5px;
}
a{
    color: darkgray;
}